<div class="card mt-5">
    <div class="flex justify-content-center flex-wrap card-container yellow-container">
        <p-card header="Rodrigo Ruiz Salmorán" subheader="Ingeniero en Sofware" style="max-width: 950px;">
            <ng-template pTemplate="header">
                <img class="img-cv" alt="Card" src="../../../assets/20230918_162751.jpg" />
            </ng-template>
            <p>
                Ingeniero de software Full - Stack (Spring Boot, Angular) con experiencia práctica en análisis de software, diseño de software, pruebas de software,  metodologías de software y desarrollo. Acostumbrado a trabajar en metodología Scrum en conjunto con Jira.           
            </p>
            <!--
            <ng-template pTemplate="footer">
                <p-button label="Save" icon="pi pi-check"></p-button>
                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
            -->
        </p-card>
        
    </div>
</div>