<div class="card mt-5">
    <div class="flex justify-content-center flex-wrap card-container yellow-container">
        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://scontent-mia3-2.xx.fbcdn.net/v/t31.18172-8/27500914_1982761615071322_6818670986246116753_o.jpg?_nc_cat=103&ccb=1-7&_nc_sid=174925&_nc_ohc=AItcGR83J6gAX8bwx-K&_nc_ht=scontent-mia3-2.xx&oh=00_AfBDcNDqq8iZgE2-GBNxuAgEZ2RMx5npBRzVv1c3Zjh51Q&oe=64701545" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                quas!
            </p>
            <ng-template pTemplate="footer">
                <p-button label="Save" icon="pi pi-check"></p-button>
                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
        </p-card>
        
    </div>
</div>